<div class="container">
  <div class="search">
    <div class="textbox">
      <div class="row">
        <div class="col-2 searchtitle">
          Task
        </div>
        <div class="col-9">
          <input type="text" name="task_search" id="task_search" class="form-control searchbar" style="width: 100%;">
        </div>
        <div class="col-1" style="display: flex;">
          <button type="button" class="btn btnsearch btn-primary" (click)="clearSearch()">Clear</button>
        </div>
      </div>
    </div>
    <div class="buttons">
      <div class="row">
        <div class="col">
          <button type="button" class="btn btnsearch btn-primary" (click)="search()">Search</button>
        </div>
        <div class="col">
          <button type="button" class="btn btnsearch btn-primary" (click)="openModal('')">Create</button>
        </div>
      </div>
    </div>


  </div>
  <div class="table-container">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" (click)="sortBy('project')">Project&nbsp;&nbsp;&nbsp;<span id="project_icon"></span></th>
          <th scope="col" (click)="sortBy('task')">Task&nbsp;&nbsp;&nbsp;<span id="task_icon"></span></th>
          <th scope="col" (click)="sortBy('assign_to')">Assign To&nbsp;&nbsp;&nbsp;<span id="assign_to_icon"></span></th>
          <th scope="col" (click)="sortBy('date_from')">From&nbsp;&nbsp;&nbsp;<span id="date_from_icon"></span></th>
          <th scope="col" (click)="sortBy('date_to')">To&nbsp;&nbsp;&nbsp;<span id="date_to_icon"></span></th>
          <th scope="col" (click)="sortBy('status')">Status&nbsp;&nbsp;&nbsp;<span id="status_icon"></span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let list of lists; index as i">
          <th scope="row">{{ i+1 }}</th>
          <td>{{ list.project }}</td>
          <td>{{ list.task }}</td>
          <td>{{ list.users[0].name }}</td>
          <td>{{ list.dateFrom | date: 'dd/MM/yyyy' }}</td>
          <td>{{ list.dateTo | date: 'dd/MM/yyyy' }}</td>
          <td>{{ list.statuses[0].statusName }}</td>
          <td>
            <span (click)="openModal(list.id)"><i class="bi bi-pencil-square"></i></span>
            &nbsp;
            <span (click)="openAlertModal(list.id, list.project)"><i class="bi bi-trash"></i></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form action="" class="formModal" [formGroup]="timesheetForm" (ngSubmit)="saveForm()">
        <div class="modal-header">
          <h5 class="modal-title" id="formModalLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <label for="project" class="col-sm-2 col-form-label">Project</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="project" name="project" formControlName="project" [ngClass]="{'is-invalid':submitted && timesheetForm.controls['project']?.errors}">
            </div>
          </div>
          <div class="row">
            <label for="task" class="col-sm-2 col-form-label">Task</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="task" name="task" formControlName="task" [ngClass]="{'is-invalid':submitted && timesheetForm.controls['task']?.errors}">
            </div>
          </div>
          <div class="row">
            <label for="project" class="col-sm-2 col-form-label">Date From</label>
            <div class="col-sm-4">
              <input type="date" class="form-control" id="date_from" name="date_from" formControlName="date_from" [ngClass]="{'is-invalid':submitted && timesheetForm.controls['date_from']?.errors}">
            </div>
            <label for="project" class="col-sm-2 col-form-label">Date To</label>
            <div class="col-sm-4">
              <input type="date" class="form-control" id="date_to" name="date_to" formControlName="date_to" [ngClass]="{'is-invalid':submitted && timesheetForm.controls['date_to']?.errors}">
            </div>
          </div>
          <div class="row">
            <label for="task" class="col-sm-2 col-form-label">Status</label>
            <div class="col-sm-4">
              <select class="form-select" aria-label="Default select example" formControlName="status" [ngClass]="{'is-invalid':submitted && timesheetForm.controls['status']?.errors}">
                <option *ngFor="let status of statuss;" value="{{ status.id }}">{{ status.statusName }}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <label for="task" class="col-sm-2 col-form-label">Assign to</label>
            <div class="col-sm-4">
              <select class="form-select" aria-label="Default select example" formControlName="assign_to" [ngClass]="{'is-invalid':submitted && timesheetForm.controls['assign_to']?.errors}">
                <option *ngFor="let user of users;" value="{{ user.id }}">{{ user.name }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
          <input type="hidden" id="sheet_id" name="sheet_id" formControlName="sheet_id">
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="alertModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="alertModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this timesheet?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="deleteTimesheet()">Delete</button>
        <input type="hidden" name="delete_id" id="delete_id">
      </div>
    </div>
  </div>
</div>
<!-- Toast -->
<div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
  <div id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="2500">
    <div class="toast-header">
      <strong class="me-auto" id="action_toast">Bootstrap</strong>
      <small>Just now</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body" id="detail_toast">
      Hello, world! This is a toast message.
    </div>
  </div>
</div>