.container {
    width: 100%;
    padding: 20px;
    /* margin: 0px; */
    /* display: flex; */
    /* vertical-align: middle; */
    /* justify-content: center; */
}

.search {
    width: 50%;
    margin: auto;
    border: 2px gray;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.searchbar {
    border-color: #000;
}

.searchtitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-container {
    padding-top: 50px;
}

.buttons .row .col {
    padding-top: 20px;
    display: flex;
    vertical-align: middle;
    justify-content: center;
}

.textbox .row .col {
    /* display: flex;
    vertical-align: middle;
    justify-content: center; */
}

.btnsearch {
    font-size: 12px;
    width: 70px;
}

.formModal div.row {
    padding-bottom: 10px;
}